<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453515155557-n9783d9gnsb3u77j7m2cfkgg10g7jdj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453515155557-n9783d9gnsb3u77j7m2cfkgg10g7jdj9</string>
	<key>API_KEY</key>
	<string>AIzaSyCPlbXgoo9wYbcqJ-NhMGOSKQnqXj6Hg2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>453515155557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>ekopii-order-management</string>
	<key>STORAGE_BUCKET</key>
	<string>ekopii-order-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453515155557:ios:9fd9da6ec88efc38cfce8c</string>
</dict>
</plist>